<a href="https://colab.research.google.com/github/Krieg2065/Python/blob/main/EsMerge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.polizia_locale # nome del database
multe = db.multe
multe1 = db.multe1
prop = db.proprietari_auto
tipo_infraz = db.tipologia_infrazioni

In [2]:
import pandas as pd

In [3]:
df_multe = pd.DataFrame(multe.find())
df_multe1 = pd.DataFrame(multe1.find())
df_prop = pd.DataFrame(prop.find())
df_tipo_infraz = pd.DataFrame(tipo_infraz.find())

In [4]:
df_multe_complessivo = pd.concat([df_multe, df_multe1])
df_multe_complessivo

                        _id    targa                data  codice_infrazione
0  61a3c339002f6ba194601ee7  BM665RE 2021-10-10 22:00:00                  1
1  61a3c339002f6ba194601eeb  DS456AS 2021-10-17 22:00:00                  2
2  61a3c339002f6ba194601eea  DS456AS 2021-10-18 22:00:00                  3
3  61a3c339002f6ba194601ee9  BM665RE 2021-10-18 22:00:00                  1
4  61a3c339002f6ba194601ee8  DS456AS 2021-10-10 22:00:00                  2
0  61a3c36c002f6ba194601ef1  DS456AS 2021-11-16 23:00:00                  3
1  61a3c36c002f6ba194601ef2  DS456AS 2021-11-12 23:00:00                  5
2  61a3c36c002f6ba194601eef  DS456AS 2021-11-11 23:00:00                  2
3  61a3c36c002f6ba194601ef0  BM665RE 2021-11-16 23:00:00                  4
4  61a3c36c002f6ba194601ef3  XX000YY 2021-11-18 23:00:00                  5
5  61a3c36c002f6ba194601eee  BM665RE 2021-11-27 23:00:00                  5

In [5]:
df_proprietari_multe = pd.merge(df_prop, df_multe_complessivo, how="left", on=["targa"])
df_proprietari_multe

                       _id_x     nome  ...                data codice_infrazione
0   61a3bf26002f6ba194601eba    carlo  ...                 NaT               NaN
1   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-17 22:00:00               2.0
2   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-18 22:00:00               3.0
3   61a3bf26002f6ba194601eb9    carlo  ... 2021-10-10 22:00:00               2.0
4   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-16 23:00:00               3.0
5   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-12 23:00:00               5.0
6   61a3bf26002f6ba194601eb9    carlo  ... 2021-11-11 23:00:00               2.0
7   61a3bf26002f6ba194601eb8    mario  ... 2021-10-10 22:00:00               1.0
8   61a3bf26002f6ba194601eb8    mario  ... 2021-10-18 22:00:00               1.0
9   61a3bf26002f6ba194601eb8    mario  ... 2021-11-16 23:00:00               4.0
10  61a3bf26002f6ba194601eb8    mario  ... 2021-11-27 23:00:00               5.0
11  61a3bf26002f6ba194601ebb  stefano  ...                 NaT               NaN

[12 rows x 7 columns]

trovare i nominativi dei proprietari di auto che hanno commesso un'infrazione legata ai limiti di velocità (eccesso di velocità)

In [6]:
df_tipo_infraz["codice"] = df_tipo_infraz["codice"].astype(int)

In [7]:
dfnv = pd.merge(df_proprietari_multe, df_tipo_infraz, how="right",right_on="codice",left_on="codice_infrazione")

In [8]:
dfnv

                       _id_x  ...                                               note
0   61a3bf26002f6ba194601eb8  ...                  sospensione patente da 2 a 6 mesi
1   61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
2   61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
3   61a3bf26002f6ba194601eb9  ...                   tra 10 e 40 km/h oltre il limite
4   61a3bf26002f6ba194601eb8  ...                     fino a 10 km/h oltre il limite
5   61a3bf26002f6ba194601eb8  ...                     fino a 10 km/h oltre il limite
6   61a3bf26002f6ba194601eb9  ...                    eventuale arresto da 1 a 8 mesi
7   61a3bf26002f6ba194601eb8  ...                    eventuale arresto da 1 a 8 mesi
8   61a3bf26002f6ba194601eb9  ...  sospensione patente da 1 a 3 mesi se recidiva ...
9   61a3bf26002f6ba194601eb9  ...  sospensione patente da 1 a 3 mesi se recidiva ...
10                       NaN  ...           eventuale arresto da sei mesi ad un anno

[11 rows x 13 columns]

trovare il numero di infrazioni per ogni tipologia di effrazione. Visualizzare il nome dell'effrazione e il numero di multe

In [9]:
dfnv[(dfnv['codice'] == 1) | (dfnv['codice'] == 2) ]

                      _id_x  ...                              note
1  61a3bf26002f6ba194601eb9  ...  tra 10 e 40 km/h oltre il limite
2  61a3bf26002f6ba194601eb9  ...  tra 10 e 40 km/h oltre il limite
3  61a3bf26002f6ba194601eb9  ...  tra 10 e 40 km/h oltre il limite
4  61a3bf26002f6ba194601eb8  ...    fino a 10 km/h oltre il limite
5  61a3bf26002f6ba194601eb8  ...    fino a 10 km/h oltre il limite

[5 rows x 13 columns]

trovare il numero di infrazioni per ogni tipologia di effrazione. Visualizzare il nome dell'effrazione e il numero di multe

In [10]:
dfnv['nome_y'].value_counts()

eccesso di velocità                 5
gare di velocità non autorizzate    2
semaforo rosso                      2
circolazione corsia di emergenza    1
guida in stato di ebrezza           1
Name: nome_y, dtype: int64

trovare i nominativi dei proprietari e il tipo di infrazione commessa in un giorno particolare inserito dall'utente

In [11]:
giorno = input()
mes = dfnv[dfnv["data"].astype(str).str.contains(giorno)][['cognome','nome_y']]
print(mes)

10
  cognome               nome_y
1   verdi  eccesso di velocità
2   verdi  eccesso di velocità
4   rossi  eccesso di velocità
5   rossi  eccesso di velocità
8   verdi       semaforo rosso

visualizzare le targhe delle auto con cui non è stata commessa nessuna infrazione

In [12]:
df_proprietari_multe[df_proprietari_multe['codice_infrazione'].isna()]['targa']

0     DD876CA
11    AS765ZA
Name: targa, dtype: object

visualizzare le tipologie di infrazione per cui non è stata elevata nessuna multa

In [13]:
dfnv[dfnv['targa'].isna()]['nome_y']

10    guida in stato di ebrezza
Name: nome_y, dtype: object