In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv")
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6278747  ...           257            2021-10-29
1             20-29   9911317  ...         28050            2021-10-29
2             30-39  10580910  ...         42937            2021-10-29
3             40-49  13787041  ...         55084            2021-10-29
4             50-59  15842597  ...         78334            2021-10-29
5             60-69  12893498  ...        100016            2021-10-29
6             70-79  10854577  ...         68313            2021-10-29
7             80-89   7592851  ...        634712            2021-10-29
8               90+   1732046  ...        140280            2021-10-29

[9 rows x 10 columns]

aggiungere una nuova colonna chiamata percentualeMaschi che contenga di maschi vaccinati

In [ ]:
df["percentualeMaschi"] = df["sesso_maschile"] / df["totale"] *100 
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19   6268693  ...            2021-10-28          51.198137
1             20-29   9891343  ...            2021-10-28          52.285296
2             30-39  10555697  ...            2021-10-28          51.351199
3             40-49  13761536  ...            2021-10-28          49.626706
4             50-59  15818591  ...            2021-10-28          49.060077
5             60-69  12875027  ...            2021-10-28          48.522609
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[9 rows x 11 columns]

2. Visualizzare il numero totale di persone vaccinate con la seconda dose

In [ ]:
df["seconda_dose"].sum()

41434957

3. Eliminare le colonne sesso_maschile e sesso_femminile

In [ ]:
df=df.drop(['sesso_maschile','sesso_femminile'],1)

In [ ]:
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19   6268693  ...            2021-10-28          51.198137
1             20-29   9891343  ...            2021-10-28          52.285296
2             30-39  10555697  ...            2021-10-28          51.351199
3             40-49  13761536  ...            2021-10-28          49.626706
4             50-59  15818591  ...            2021-10-28          49.060077
5             60-69  12875027  ...            2021-10-28          48.522609
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[9 rows x 9 columns]

Cancellare righe dalla 2 alla 6

In [ ]:
df = df.drop(range(2,6))
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentualeMaschi
0             12-19   6268693  ...            2021-10-28          51.198137
1             20-29   9891343  ...            2021-10-28          52.285296
6             70-79  10840433  ...            2021-10-28          46.970698
7             80-89   7541357  ...            2021-10-28          41.746572
8               90+   1721375  ...            2021-10-28          29.916375

[5 rows x 9 columns]

5.Visualizzare il totale di vaccinati nella fascia 20-29

In [ ]:
df[df.fascia_anagrafica == '20-29']["totale"]

1    9891343
Name: totale, dtype: int64

In [ ]:
df.loc[1]['totale']

9891343

In [ ]:
df.iloc[1]['totale']

9891343

In [ ]:
df = df.set_index("fascia_anagrafica")

In [ ]:
df.loc['20-29','totale']

9891343

6.Sostituire al valore 90+ il valore 90-120

In [ ]:
df = df.rename(index={'90+':'90-120'})

In [ ]:
df

                     totale  sesso_maschile  ...  dose_booster  ultimo_aggiornamento
fascia_anagrafica                            ...
12-19               6278747         3214941  ...           257            2021-10-29
20-29               9911317         5183008  ...         28050            2021-10-29
30-39              10580910         5433682  ...         42937            2021-10-29
40-49              13787041         6842576  ...         55084            2021-10-29
50-59              15842597         7772358  ...         78334            2021-10-29
60-69              12893498         6257075  ...        100016            2021-10-29
70-79              10854577         5099480  ...         68313            2021-10-29
80-89               7592851         3171213  ...        634712            2021-10-29
90-120              1732046          518187  ...        140280            2021-10-29

[9 rows x 9 columns]