In [2]:
import pandas as pd

1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")

In [4]:
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [5]:
df. iloc[:, 0]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
81                 VIALE ZARA 131
Name: Indirizzo, Length: 82, dtype: object

3. visualizzare solo l'ultima colonna

In [6]:
df. iloc[:, -1]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

4. visualizzare le colonne dalle terza alla quinta

In [7]:
df. iloc[:,2:5]

            Fax    CAP  MUNICIPIO
0   02-29002004  20121          1
1   02-58319779  20122          1
2   02-86454450  20122          1
3           NaN  20154          8
4    02-7837251  20121          1
..          ...    ...        ...
77   02-8373830  20144          6
78  02-32671947  20155          8
79  02-58457947  20135          5
80  02-41411347  20146          6
81  02-69911147  20159          9

[82 rows x 3 columns]

5. visualizzare la terza e la sesta colonna

In [8]:
df. iloc[:,[2,5]]

            Fax  ID_NIL
0   02-29002004       2
1   02-58319779       5
2   02-86454450       1
3           NaN      69
4    02-7837251       4
..          ...     ...
77   02-8373830      44
78  02-32671947      71
79  02-58457947      27
80  02-41411347      52
81  02-69911147      12

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [9]:
df[["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

7. visualizzare la prima riga

In [10]:
df. iloc[0]

Indirizzo                  BASTIONI DI PORTA VOLTA 7
Telefono                                  02-6572655
Fax                                      02-29002004
CAP                                            20121
MUNICIPIO                                          1
ID_NIL                                             2
NIL                                            BRERA
LONG_X_4326                                  9.18215
LAT_Y_4326                                   45.4796
Location       (45.47960100000006;9.182151000000033)
Name: 0, dtype: object

8. visualizzare l'ultima riga

In [11]:
df. iloc[-1]

Indirizzo                             VIALE ZARA 131
Telefono                                 02-69911111
Fax                                      02-69911147
CAP                                            20159
MUNICIPIO                                          9
ID_NIL                                            12
NIL                          MACIACHINI - MAGGIOLINA
LONG_X_4326                                  9.19669
LAT_Y_4326                                   45.5002
Location       (45.50019300000008;9.196686000000057)
Name: 81, dtype: object

9. visualizzare la riga centrale

In [12]:
df. iloc[(len(df)//2)]

Indirizzo                 VIA GIUSEPPE RIPAMONTI 167
Telefono                                 02-53580011
Fax                                      02-53580047
CAP                                            20141
MUNICIPIO                                          5
ID_NIL                                            38
NIL                          VIGENTINO - Q.RE FATIMA
LONG_X_4326                                  9.20112
LAT_Y_4326                                   45.4352
Location       (45.43522200000007;9.201118500000064)
Name: 41, dtype: object

10. visualizzare le righe 3, 4 e 12

In [13]:
df. iloc[[3,4,12]]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [14]:
df. iloc[10:16]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [15]:
df.iloc[10:15,[0,4]]

                       Indirizzo  MUNICIPIO
10  VIA ALFREDO CAPPELLINI 17/19          2
11        VIA ANDREA VOCHIERI 12          9
12            VIA APPENNINI 77/A          8
13                 VIA ARQUA' 14          2
14        VIA BENOZZO GOZZOLI 51          7

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [16]:
df.iloc[[3,5,12],[1,2]]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [17]:
df.iloc[3:10,1:6]

      Telefono          Fax    CAP  MUNICIPIO  ID_NIL
3          NaN          NaN  20154          8      69
4  02-76023056   02-7837251  20121          1       4
5  02-47714011  02-47714047  20146          6      49
6  02-42255211  02-42255247  20146          6      49
7    02-325774   02-3271232  20148          8      66
8  02-37790911  02-37790947  20158          9      78
9   02-2665192  02-26680123  20131          3      22

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [18]:
df.loc[df['Indirizzo'].str.contains("PIAZZA NAPOLI")]["Telefono"]

6    02-42255211
Name: Telefono, dtype: object

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [19]:
df.loc[df['NIL'].str.contains("NIGUARDA ")][["Indirizzo","Telefono"]]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

TypeError: ignored

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [28]:
df.loc[(df["Telefono"].isnull()) | (df["Fax"].isnull())]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

19. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL)

In [33]:
df['NIL'].value_counts()

NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2
dtype: int64

20. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL). Ordinare a partire dal NIL che ha più uffici in giù

In [38]:
df['NIL'].value_counts().sort_values()

FARINI                                                         1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
CITTA' STUDI                                                   1
PORTA GENOVA                                                   1
QUINTO ROMANO                                                  1
PORTA TICINESE - CONCHETTA                                     1
UMBRIA - MOLISE - CALVAIRATE                                   1
PORTA VIGENTINA - PORTA LODOVICA                               1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
QT 8                                                           1
BANDE NERE                                                     1
PORTA GARIBALDI - PORTA NUOVA                                  1
GUASTALLA                                                      1
DERGANO                                                        1
ADRIANO                                                        1
MONLUE' - PONTE LAMBRO                                         1
SAN SIRO                                                       1
LODI - CORVETTO                                                1
DE ANGELI - MONTE ROSA                                         1
PORTA MAGENTA                                                  1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
ROGOREDO - SANTA GIULIA                                        1
MONCUCCO - SAN CRISTOFORO                                      1
SCALO ROMANA                                                   1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PAGANO                                                         1
LAMBRATE - ORTICA                                              1
VIGENTINO - Q.RE FATIMA                                        1
BOVISASCA                                                      1
STAZIONE CENTRALE - PONTE SEVESO                               1
GRECO - SEGNANO                                                1
BRUZZANO                                                       1
PTA ROMANA                                                     1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
GORLA - PRECOTTO                                               1
CORSICA                                                        1
AFFORI                                                         2
SARPI                                                          2
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
FORZE ARMATE                                                   2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
TIBALDI                                                        2
LORETO - CASORETTO - NOLO                                      2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
MACIACHINI - MAGGIOLINA                                        2
PADOVA - TURRO - CRESCENZAGO                                   2
XXII MARZO                                                     2
ISOLA                                                          3
GIAMBELLINO                                                    3
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
BRERA                                                          4
DUOMO                                                          7
Name: NIL, dtype: int64

21. visualizzare i municipi che hanno più di 15 uffici postali

In [47]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 15]

1    14
9    13
Name: MUNICIPIO, dtype: int64

22. visualizzare il municipio che ha più uffici postali

In [49]:
df['MUNICIPIO'].value_counts().max()

14

23. visualizzare il municipio che ha meno uffici postali

In [50]:
df['MUNICIPIO'].value_counts().min()

7

24. visualizzare il numero medio di uffici postali in ogni municipio

In [48]:
df['MUNICIPIO'].value_counts().mean()

9.11111111111111

25. visualizzare i Municipi che hanno un numero di uffici postali superiore alla media

In [51]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > df['MUNICIPIO'].value_counts().mean()]

1    14
9    13
Name: MUNICIPIO, dtype: int64

26. eliminare tutti i record relativi al NIL di Niguarda

In [57]:
df1 = df.drop(df[df['NIL'].str.contains("NIGUARDA ")].index)
df1

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

27. eliminare le ultime tre colonne

In [68]:
df.drop(columns= df.iloc[:,-3:])

                      Indirizzo  ...                                  NIL
0     BASTIONI DI PORTA VOLTA 7  ...                                BRERA
1   CORSO DI PORTA VIGENTINA 35  ...     PORTA VIGENTINA - PORTA LODOVICA
2                CORSO ITALI 16  ...                                DUOMO
3             CORSO SEMPIONE 94  ...                                SARPI
4              CORSO VENEZIA 42  ...                            GUASTALLA
..                          ...  ...                                  ...
77              VIALE GORIZIA 6  ...           PORTA TICINESE - CONCHETTA
78       VIALE MONTE CENERI SNC  ...  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79          VIALE SABOTINO 21/A  ...                           PTA ROMANA
80       VIALE SAN GIMIGNANO 10  ...                           BANDE NERE
81               VIALE ZARA 131  ...              MACIACHINI - MAGGIOLINA

[82 rows x 7 columns]

28. eliminare i record di cui non si conosce il numero di telefono o il fax

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

30. sostituire il trattino presente nei numeri di telefono con il carattere /